<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>console</headerType>
  <jar>D:\Programming\NetBeansProjects\reportbuilder\target\reportbuilder-1.0.jar</jar>
  <outfile>D:\Programming\NetBeansProjects\reportbuilder\target\ReportBuilder.exe</outfile>
  <errTitle>This programe requires java. Please install java first.</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>true</restartOnCrash>
  <manifest></manifest>
  <icon></icon>
  <singleInstance>
    <mutexName>ReportBuilder</mutexName>
    <windowTitle>Report Builder</windowTitle>
  </singleInstance>
  <classPath>
    <mainClass>com.github.jonizei.reportbuilder.Main</mainClass>
    <cp>lib/commons-lang3-3.9.jar</cp>
    <cp>lib/ghost4j-1.0.1.jar</cp>
    <cp>lib/jna-4.1.0.jar</cp>
    <cp>lib/log4j-1.2.17.jar</cp>
    <cp>lib/commons-beanutils-1.9.2.jar</cp>
    <cp>lib/commons-collections-3.2.1.jar</cp>
    <cp>lib/xmlgraphics-commons-1.4.jar</cp>
    <cp>lib/commons-io-1.3.1.jar</cp>
    <cp>lib/itext-2.1.7.jar</cp>
    <cp>lib/pdfbox-3.0.0-RC1.jar</cp>
    <cp>lib/fontbox-3.0.0-RC1.jar</cp>
    <cp>lib/commons-logging-1.2.jar</cp>
  </classPath>
  <jre>
    <path></path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.8</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
    <initialHeapSize>1024</initialHeapSize>
    <maxHeapSize>2048</maxHeapSize>
  </jre>
  <versionInfo>
    <fileVersion>1.3.4.5</fileVersion>
    <txtFileVersion>1.3.4.5</txtFileVersion>
    <fileDescription>Report Builder for PDF files</fileDescription>
    <copyright>NIL</copyright>
    <productVersion>1.3.4.5</productVersion>
    <txtProductVersion>1.3.4.5</txtProductVersion>
    <productName>ReportBuilder</productName>
    <companyName></companyName>
    <internalName>ReportBuilder</internalName>
    <originalFilename>ReportBuilder.exe</originalFilename>
    <trademarks></trademarks>
    <language>FINNISH</language>
  </versionInfo>
</launch4jConfig>